{% comment %} {% load static %}
<!DOCTYPE html>
<html lang="en">
<head><link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/delete_student/{{ students.id }}">
        {% csrf_token %}

         <p>Are you sure you want to delete  
            <strong>
                '{{ students.student_name }}'
            </strong>
        </p> 
        <a href="javascript:history.go(-1);">
            Go Back
        </a> 
        <input type="submit" value="Confirm"/> 
        <button onclick="myDeleteFunction()">Delete row</button>
    </form>
</body>
</html> {% endcomment %}